*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Lato', sans-serif;
}
body{
    display: flex;
    width: 60%;
    margin: 1rem auto;
    background: #2e2e2ea2;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
}
aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    flex-basis: 20%;
    background: #0d3785;
    color: #FDFDFD;
}
.persona{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}
#correo{
    color: inherit;
    text-decoration: underline;
}
aside article:not(.conocimientos article){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid cornflowerblue;
}
.conocimientos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    justify-content: space-evenly;
}
.conocimientos h3{
    text-align: center;
}
.conocimientos article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.conocimientos article li, main li{
    list-style: none;
}
.conocimientos article li::before, main li::before{
    content: "°";
    margin-right: 1rem;
}
main{
    background: #FDFDFD;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
header{
    padding: .5rem;
    border: 2px solid #000000a2;
    border-radius: .5rem;
    text-align: center;
}
main section h3{
    border-bottom: 1px solid cornflowerblue;
    margin-bottom: 1rem;
}
main section div{
    margin-bottom: 1rem;
}
main section div:last-child{
    margin-bottom: 0;
}
main footer{
    display: flex;
    justify-content: space-evenly;
}
footer a{
    text-decoration: underline;
    color: #0d3785;
}
footer h5{
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all 300ms ease-in-out;
}
footer h5:hover{
    transform: translateY(-10px);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 0) and (max-width: 480px) {
    body{
        width: 100%;
        margin: 0;
    }
    img{
        width: 4rem;
        height: 4rem;
    }
    aside{
        width: 40%;
    }
    main{
        width: 60%;
    }

}